 <div class="h-[50vh] overflow-y-auto p-4 space-y-4 custom-scroll">
            <app-order-card></app-order-card>
            <app-order-card></app-order-card>
            <app-order-card></app-order-card>
            <app-order-card></app-order-card>  
            <app-order-card></app-order-card>
            <app-order-card></app-order-card> 
            <app-order-card></app-order-card>
            <app-order-card></app-order-card>
            <app-order-card></app-order-card>
            <app-order-card></app-order-card>  
            <app-order-card></app-order-card>
            <app-order-card></app-order-card>
</div>