<body class="bg-gray-100 font-sans h-screen flex overflow-hidden">
    <aside class="w-24 bg-maroon flex flex-col items-center py-6 gap-8 shadow-xl">
        <div class="text-white font-bold text-xl mb-4 text-center px-2">Happy<br>Buns</div>
       <app-category-section></app-category-section>
    </aside>
    <main class="flex-1 flex flex-col bg-white">
        <app-search-bar></app-search-bar>
        <app-product-card-holder></app-product-card-holder>
        <app-side-bar></app-side-bar>
    </main>
    
</body>