<section class="w-96 bg-gray-50 border-l flex flex-col">
    <div class="p-6">
        <app-order-details></app-order-details>
        <div class="space-y-4 max-h-[400px] overflow-y-auto mb-6 pr-2">
            <app-order-card-holder> </app-order-card-holder>
        </div>
    </div>
    <div class="mt-auto p-6 bg-white border-t border-gray-200">
        <div class="space-y-2 mb-6">
            <app-subtotal></app-subtotal>
            <app-total></app-total>
        </div>
        <app-place-order></app-place-order>
    </div>
</section>